/******************************************************************************************
*** Uploads ***
******************************************************************************************/
/************************************************************* Uploads List **************************************************/
.mainPage .mainSubPage .shopList{
    position: relative;
    width: calc(100vw - 200px);
    /*height: fit-content;*/
    height: calc(100vh - 70px);
    margin: auto;
    top: 10px;
    overflow-y: auto;
    background-color: rgba(0,7,14,0.5);
    border-radius: 5px;
}
.mainPage .mainSubPage .shopList .shopListItem{
    position: relative;
    height: 50px;
    width: calc(100% - 40px);
    border-bottom: 1px solid rgba(0,82,153,1);
    outline: none;
    cursor: default;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .shopList .shopListItem:hover{
    background-color: rgba(0,82,153,0.2);
}
.mainPage .mainSubPage .shopList .shopListItem .cont{
    position: relative;
    width: 100%;
    height: 100%;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .img{
    position: relative;
    height: 40px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid rgba(0,82,153,0.3);
}
.mainPage .mainSubPage .shopList .shopListItem .cont .img .icon{
    position: relative;
    margin: auto;
    left: calc(50% - 20px);
    fill: rgba(255,255,255,0.3);
}
.mainPage .mainSubPage .shopList .shopListItem .cont .img .pic{
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: -5px;
    border-radius: 50px;
    overflow: hidden;
    display: block;
    opacity: 1;
    background-color: #002244;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .img .picNone{
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: 5px;
    display: none;
    opacity: 1;
    background-color: #1b1e21;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .img .crop{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    border: none;
    display:  block;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .name{
    position: relative;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    width: calc(100% - 180px);
}
.mainPage .mainSubPage .shopList .shopListItem .cont .name .nme{
    position: relative;
    height: fit-content;
    top: 8px;
    margin-left: 20px;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    color: #fff;
    cursor: default;
    font-size: 17px;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .controls{
    position: relative;
    height: 40px;
    width: 80px;
    border-left: 1px solid rgba(0,82,153,0.3);
    margin-top: auto;
    margin-bottom: auto;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .controls .icon{
    position: relative;
    margin: auto;
    fill: rgba(255,255,255,0.3);
    transition: all 0.25s linear;
    cursor: pointer;
    outline: none;
}
.mainPage .mainSubPage .shopList .shopListItem .cont .controls .edit:hover{
    fill: rgba(255,255,0,1);
}
.mainPage .mainSubPage .shopList .shopListItem .cont .controls .remove:hover{
    fill: rgba(188,0,0,1);
}
.mainPage .mainSubPage .shopList .shopListItem .cont .controls .edit:hover + .shopEditInfoPop,
.mainPage .mainSubPage .shopList .shopListItem .cont .controls .remove:hover + .shopRemoveInfoPop{
    display: inline-block;
}
.mainPage .mainSubPage .shopEditInfoPop,
.mainPage .mainSubPage .shopRemoveInfoPop{
    position: absolute;
    display: none;
    transition: all 0.25s linear;
    bottom: 0;
    width: fit-content;
    padding: 2px 5px;
    background-color: rgba(0,7,14,1);
    border: 1px solid rgba(0,128,255,0.2);
    border-radius: 5px 0 5px 5px;
    white-space: nowrap;
    right: 100%;
}
/*.mainPage .mainSubPage .shopControlsInfoPop{
    right: 100%;
}*/
.mainPage .mainSubPage .shopEditInfoPop .txt,
.mainPage .mainSubPage .shopRemoveInfoPop .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: rgba(155,155,155,1);
    cursor: default;
}
.mainPage .mainSubPage .shopList .emptyShopList{
    position: relative;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.mainPage .mainSubPage .shopList .emptyShopList .txt{
    font-family: Segoe UI, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(200,200,200,0.65);
}

/************************************************************* Add Upload Btn **************************************************/
.mainPage .mainSubPage .addShopBtn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 200px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    outline: none;
    background-color: rgba(0,7,14,1);
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
}
.mainPage .mainSubPage .addShopBtn:active{
    background-color: rgba(0,7,14,0.2);
}
.mainPage .mainSubPage .addShopBtn:hover > .icon{
    fill: rgba(0,102,204,1);
}
.mainPage .mainSubPage .addShopBtn .icon{
    position: relative;
    fill: rgba(0,82,153,1);
    left: 5px;
    top: 5px;
    transition: all 0.25s linear;
    outline: none;
}
.mainPage .mainSubPage .addShopBtn:hover > .addShopPop{
    display: inline-block;
}
.mainPage .mainSubPage .addShopPop{
    position: absolute;
    display: none;
    transition: all 0.25s linear;
    bottom: 0;
    width: fit-content;
    padding: 2px 5px;
    background-color: rgba(0,7,14,1);
    border: 1px solid rgba(0,128,255,0.2);
    border-radius: 5px 0 5px 5px;
    white-space: nowrap;
}
.mainPage .mainSubPage .addShopPop{
    right: 100%;
}
.mainPage .mainSubPage .addShopPop .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: rgba(155,155,155,1);
    cursor: default;
}
/************************************************************* Upload Popup (Add) **************************************************/
.mainPage .mainSubPage .shopPop.ng-hide{
    opacity: 0;
}
.mainPage .mainSubPage .shopPop.ng-hide-add,
.mainPage .mainSubPage .shopPop.ng-hide-remove{
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .shopPop{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9994;
    left: 0;
    top: 0;
    background-color: rgba(0,7,14,0.9);
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd.ng-enter{
    width: 10px;
    height: 10px;
    left: 95%;
    top: 95%;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd.ng-enter-active{
    width: 600px;
    height: 300px;
    left: 0;
    top: 15%;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd.ng-leave{
    width: 600px;
    height: 300px;
    left: 0;
    top: 15%;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd.ng-leave-active{
    width: 10px;
    height: 10px;
    left: 95%;
    top: 95%;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd{
    position: relative;
    width: 600px;
    height: 300px;
    top: 15%;
    margin: auto;
    left: 0;
    background-color: rgba(0,7,14,0.8);
    border-radius: 5px;
    border: 1px solid rgba(0,82,153,1);
    opacity: 1;
    vertical-align: center;
    vert-align: middle;
    transition: all 0.3s linear;
    overflow: hidden;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .head{
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background-color: rgba(0,82,153,1);
    width: 100%;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .head .ttl{
    position: relative;
    font-size: 15px;
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .head .close{
    position: absolute;
    font-size: 13px;
    color: #aaa;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    text-align: right;
    outline: none;
    cursor: pointer;
    transition: all 0.25s linear;
    right: 10px;
    top: 5px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .head .close:hover{
    color: rgba(0,7,14,1);
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body{
    position: relative;
    top: 0;
    left: 0;
    height: calc(100% - 30px);
    background-color: rgba(0,82,153,0.3);
    width: 100%;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .in{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 25px;
    margin-top: 20px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .in .shopNewIn{
    width: calc(100% - 20px);
    padding: 2px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgba(0,82,153,0.2);
    outline: none;
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-size: 15px;
    text-align: center;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .one{
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    transition: all 0.15s linear;
    color: rgba(0,102,204,0.4);
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .two{
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    transition: all 0.15s linear;
    color: rgba(0,102,204,1);
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .switch{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .switch .bar{
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0,7,14,0.4);
    transition: all 0.15s linear;
    position: relative;
    top: 7px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .switch .barTwo{
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0,7,14,0.8);
    transition: all 0.15s linear;
    position: relative;
    top: 7px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .switch .dot{
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: linear-gradient(90deg , rgba(0,102,204,1), rgba(0,40,93,1));
    transition: all 0.15s linear;
    position: absolute;
    top: 5px;
    left: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .class .switch .dotTwo{
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: linear-gradient(270deg , rgba(0,102,204,1), rgba(0,40,93,1));
    transition: all 0.15s linear;
    position: absolute;
    top: 5px;
    left: calc(100% - 11px);
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .addDis{
    position: relative;
    margin: auto;
    border: 1px solid rgba(0,82,153,0.4);
    background-color: rgba(0,82,153,0.4);
    color: rgba(255,255,255,0.4);
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: default;
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .addDis:hover{
    background-color: rgba(0,82,153,0.4);
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .add{
    position: relative;
    margin: auto;
    border: 1px solid rgba(0,82,153,1);
    background-color: rgba(0,82,153,1);
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .shopPop .fullCont .shopAdd .body .add:hover{
    background-color: rgba(0,82,153,0.5);
}

/************************************************************* Upload Popup (Delete) **************************************************/
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete.ng-enter{
    width: 10px;
    height: 10px;
    left: 90%;
    top: 50%;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete.ng-enter-active{
    width: 400px;
    height: 200px;
    left: 0;
    top: 15%;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete.ng-leave{
    width: 400px;
    height: 200px;
    left: 0;
    top: 15%;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete.ng-leave-active{
    width: 10px;
    height: 10px;
    left: 90%;
    top: 50%;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete{
    position: relative;
    width: 400px;
    height: 200px;
    top: 15%;
    margin: auto;
    left: 0;
    background-color: rgba(0,7,14,0.8);
    border-radius: 5px;
    border: 1px solid rgba(0,82,153,1);
    opacity: 1;
    vertical-align: center;
    vert-align: middle;
    transition: all 0.3s linear;
    overflow: hidden;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .head {
    position: relative;
    margin: auto;
    width: calc(100% - 40px);
    height: fit-content;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .head .icon{
    fill: rgba(0,82,153,0.7);
    margin: auto 10px;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .head .text{
    text-align: center;
    margin: auto;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .head .txt{
    cursor: default;
    font-family: Segoe UI, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .head .txtAlt{
    cursor: default;
    font-family: Segoe UI, sans-serif;
    font-size: 16px;
    color: rgba(0,102,204,1);
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .actions{
    position: relative;
    margin: auto;
    left: 30px;
    width: calc(100% - 90px);
    height: fit-content;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .actions .btn{
    position: relative;
    margin: auto;
    border-radius: 3px;
    border: 1px solid rgba(0,82,153,0.8);
    background-color: transparent;
    transition: all 0.2s linear;
    padding: 3px 10px;
    color: #aaa;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 15px;
    outline: none;
}
.mainPage .mainSubPage .shopPop .fullCont .confirmShopDelete .actions .btn:hover{
    background-color: rgba(0,82,153,0.5);
}
/************************************************************* Upload Popup (Edit) **************************************************/
.mainPage .mainSubPage .shopPop .fullCont .shopEdit.ng-enter{
    width: 10px;
    height: 1%;
    left: 95%;
    top: 50%;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit.ng-enter-active{
    width: 600px;
    height: 80%;
    left: 0;
    top: 10%;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit.ng-leave{
    width: 600px;
    height: 80%;
    left: 0;
    top: 10%;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit.ng-leave-active{
    width: 10px;
    height: 1%;
    left: 95%;
    top: 50%;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit{
    position: relative;
    width: 600px;
    height: 80%;
    top: 10%;
    margin: auto;
    left: 0;
    background-color: rgba(0,7,14,0.8);
    border-radius: 5px;
    border: 1px solid rgba(0,82,153,1);
    opacity: 1;
    vertical-align: center;
    vert-align: middle;
    transition: all 0.3s linear;
    overflow: hidden;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .head{
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background-color: rgba(0,82,153,1);
    width: 100%;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .head .ttl{
    position: relative;
    font-size: 15px;
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .head .close{
    position: absolute;
    font-size: 13px;
    color: #aaa;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    text-align: right;
    outline: none;
    cursor: pointer;
    transition: all 0.25s linear;
    right: 10px;
    top: 5px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .head .close:hover{
    color: rgba(0,7,14,1);
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body{
    position: relative;
    top: 0;
    left: 0;
    height: calc(100% - 30px);
    background-color: rgba(0,82,153,0.3);
    width: 100%;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl{
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .imga{
    position: absolute;
    width: 130px;
    margin-top: 20px;
    border-radius: 120px;
    height: 130px;
    overflow: hidden;
    cursor: default;
    left: calc(50% - 65px);
    background-color: transparent;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .imga .icon{
    position: relative;
    margin: auto;
    left: calc(50% - 50px);
    fill: rgba(100,100,100,0.2);
    cursor: default;
    z-index: 9998;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .imga .crp{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: all 0.25s linear;
    opacity: 1;
    border: none;
    display:  block;
    background-color: #666666;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .imga .crpNone{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.25s linear;
    opacity: 0;
    border: none;
    display:  none;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .imga .icon:hover{
    fill: rgba(100,100,100,0.2);
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .edit{
    position: absolute;
    right: 20%;
    top: 20px;
    border: 1px solid rgba(100,100,100,0.2);
    border-radius: 25px;
    z-index: 9993;
    background-color: rgba(0,9,15,1);
    width: 25px;
    height: 25px;
    transition: all 0.25s linear;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .editImgIco{
    position: absolute;
    left: 4px;
    top: 4px;
    fill: rgba(100,100,100,1);
    transition: all 0.25s linear;
    cursor: pointer;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .edit:hover > .editImgIco{
    fill: rgba(0,128,255,1);
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .edit .selImgBtn{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    z-index: 9993;
    opacity: 0;
    cursor: pointer;
}
/***** Image Crop *****/
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp.ng-enter{
    transition: all 0.3s linear;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp.ng-enter-active{
    transition: all 0.3s linear;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp.ng-leave{
    transition: all 0.3s linear;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp.ng-leave-active{
    transition: all 0.3s linear;
    opacity: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,7,14,1);
    z-index: 9999;
    overflow: hidden;
    transition: all 0.3s linear;
    opacity: 1;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea{
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .left,
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .right{
    position: relative;
    left: 0;
    width: 50%;
    height: 100%;
    top: 0;
    text-align: center;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .left .txt,
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .right .txt{
    position: relative;
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
    color: rgba(100,100,100,1);
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .left img-crop{
    width:100%;
    height:100%;
    display:block;
    position:relative;
    margin: auto;
    overflow:hidden;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .left img-crop canvas{
    display:block;
    position:relative;
    top:50%;
    left:50%;
    outline:0;
    -webkit-tap-highlight-color:transparent;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .right .crp{
    position: relative;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .right .actions{
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .right .actions .btn{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: auto;
    background-color: rgba(0,128,255,0.5);
    border: 1px solid rgba(0,128,255,0.5);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.25s linear;
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .cropDisp .cropArea .right .actions .btn:hover{
    background-color: rgba(0,128,255,0);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,128,255,0.5);
    -moz-box-shadow: 0 0 10px 5px rgba(0,128,255,0.5);
    box-shadow: 0 0 10px 5px rgba(0,128,255,0.5);
}















.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .in{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 25px;
    margin-top: 20px;
    top: 150px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .in .shopNewIn{
    width: calc(100% - 20px);
    padding: 2px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgba(0,82,153,0.2);
    outline: none;
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-size: 15px;
    text-align: left;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 150px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .one{
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    transition: all 0.15s linear;
    color: rgba(0,102,204,0.4);
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .two{
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    transition: all 0.15s linear;
    color: rgba(0,102,204,1);
    font-weight: bold;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .switch{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .switch .bar{
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0,7,14,0.4);
    transition: all 0.15s linear;
    position: relative;
    top: 7px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .switch .barTwo{
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0,7,14,0.8);
    transition: all 0.15s linear;
    position: relative;
    top: 7px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .switch .dot{
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: linear-gradient(90deg , rgba(0,102,204,1), rgba(0,40,93,1));
    transition: all 0.15s linear;
    position: absolute;
    top: 5px;
    left: 0;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .scrl .class .switch .dotTwo{
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: linear-gradient(270deg , rgba(0,102,204,1), rgba(0,40,93,1));
    transition: all 0.15s linear;
    position: absolute;
    top: 5px;
    left: calc(100% - 11px);
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .actions{
    position: relative;
    width: 100%;
    height: 50px;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .actions .addDis{
    position: relative;
    margin: auto;
    border: 1px solid rgba(0,82,153,0.4);
    background-color: rgba(0,82,153,0.4);
    color: rgba(255,255,255,0.4);
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: default;
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .actions .addDis:hover{
    background-color: rgba(0,82,153,0.4);
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .actions .add{
    position: relative;
    margin: auto;
    border: 1px solid rgba(0,82,153,1);
    background-color: rgba(0,82,153,1);
    color: #fff;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .shopPop .fullCont .shopEdit .body .actions .add:hover{
    background-color: rgba(0,82,153,0.5);
}