/******************************************************************************************
*** Banking ***
******************************************************************************************/
.mainPage .mainSubPage .title{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(0,7,14,0.7);
    border-top: 1px solid rgba(100,100,100,0.1);
}
.mainPage .mainSubPage .title .txt{
    position: relative;
    color: #fff;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 25px;
    top: 2px;
}
.mainPage .mainSubPage .bankArea{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.mainPage .mainSubPage .bankArea .curDate{
    position: absolute;
    right: 50px;
    top: 10px;
    width: fit-content;
    min-width: 200px;
    border-radius: 20px;
    height: 30px;
    padding: 0 10px;
    background-color: rgba(0,7,14,0.8);
    transition: all 0.25s linear;
    cursor: pointer;
    text-align: center;
    outline: none;
}
.mainPage .mainSubPage .bankArea .curDate:hover{
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 51, 128, 0.5);
    -moz-box-shadow: 0 0 6px 2px rgba(0, 51, 128, 0.5);
    box-shadow: 0 0 6px 2px rgba(0, 51, 128, 0.5);
}
.mainPage .mainSubPage .bankArea .curDate:hover > .txt{
    color: rgba(0,51,128,1);
}
.mainPage .mainSubPage .bankArea .curDate .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    top: 2px;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new.ng-enter{
    transition: all 0.25s linear;
    opacity: 0;
}
.mainPage .mainSubPage .bankArea .new.ng-enter-active{
    transition: all 0.25s linear;
    opacity: 1;
}
.mainPage .mainSubPage .bankArea .new.ng-leave{
    transition: all 0.25s linear;
    opacity: 1;
}
.mainPage .mainSubPage .bankArea .new.ng-leave-active{
    transition: all 0.25s linear;
    opacity: 0;
}
.mainPage .mainSubPage .bankArea .new{
    position: absolute;
    left: 50px;
    top: 10px;
    width: calc(50% + 200px);
    border-radius: 5px 20px 20px 5px;
    height: 30px;
    padding: 0 10px;
    background-color: rgba(0,7,14,0.8);
    transition: all 0.25s linear;
    opacity: 1;
    outline: none;
}
.mainPage .mainSubPage .bankArea .new .descript{
    position: absolute;
    left: 0;
    width: calc(100% - 520px);
    height: 100%;
    top: 0;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.mainPage .mainSubPage .bankArea .new .drop.ng-enter{
    transition: all 0.25s linear;
    height: 0;
}
.mainPage .mainSubPage .bankArea .new .drop.ng-enter-active{
    transition: all 0.25s linear;
    height: 300px;
}
.mainPage .mainSubPage .bankArea .new .drop.ng-leave{
    transition: all 0.25s linear;
    height: 300px;
}
.mainPage .mainSubPage .bankArea .new .drop.ng-leave-active{
    transition: all 0.25s linear;
    height: 0;
}
.mainPage .mainSubPage .bankArea .new .drop.ng-hide{

}
.mainPage .mainSubPage .bankArea .new .drop.ng-hide-add,
.mainPage .mainSubPage .bankArea .new .drop.ng-hide-remove{

}
.mainPage .mainSubPage .bankArea .new .drop{
    position: absolute;
    left: 0;
    width: calc(100% - 520px);
    height: 300px;
    top: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: rgba(0,7,14,0.9);
    z-index: 9995;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .drop .scrl{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.mainPage .mainSubPage .bankArea .new .drop .scrl .empty{
    position: relative;
    top: 15px;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: default;
}
.mainPage .mainSubPage .bankArea .new .drop .scrl .empty .txt{
    position: relative;
    font-weight: bold;
    font-size: 25px;
    font-family: Calibri, sans-serif;
    color: rgba(100,100,100,1);
    top: 2px;
}
.mainPage .mainSubPage .bankArea .new .drop .scrl .list{
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 2px;
    left: 0;
    top: 0;
}
.mainPage .mainSubPage .bankArea .new .drop .scrl .list .cont{
    position: absolute;
    left: 5px;
    top: 0;
    width: calc(100% - 10px);
    height: 100%;
    cursor: pointer;
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .drop .scrl .list .cont:hover{
    background-color: rgba(0,51,128,0.2);
}
.mainPage .mainSubPage .bankArea .new .drop .scrl .list .cont .txt{
    position: absolute;
    left: 5px;
    top: 3px;
    color: #fff;
}
.mainPage .mainSubPage .bankArea .new .descript .bankNewInput{
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: calc(100% - 20px);
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    color: rgba(188,188,188,1);
    outline: none;
    background-color: transparent;
}
.mainPage .mainSubPage .bankArea .new .type{
    position: absolute;
    right: 321px;
    top: 0;
    height: 100%;
    width: 200px;
    border-left: 1px solid rgba(100,100,100,0.4);
    cursor: pointer;
    outline: none;
    padding-left: 10px;
}
.mainPage .mainSubPage .bankArea .new .val{
    position: absolute;
    right: 121px;
    width: 200px;
    height: 100%;
    top: 0;
    border-left: 1px solid rgba(100,100,100,0.4);
    overflow: hidden;
}
.mainPage .mainSubPage .bankArea .new .val .cur{
    position: absolute;
    left: 0;
    top: 2px;
    border: 0;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    color: rgba(188,188,188,1);
    outline: none;
    background-color: transparent;
    text-align: right;
}
.mainPage .mainSubPage .bankArea .new .val .bankNewVal{
    position: absolute;
    left: 80px;
    top: 0;
    border: 0;
    height: 100%;
    width: calc(100% - 100px);
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    color: rgba(188,188,188,1);
    outline: none;
    background-color: transparent;
    text-align: left;
}
.mainPage .mainSubPage .bankArea .new .type .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #999;
    top: 4px;
    margin: 0 3px;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .type .txtSel{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,128,255,0.7);
    top: 4px;
    margin: 0 3px;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .type .switch{
    position: relative;
    margin: 0 5px;
    height: 100%;
    width: 50px;
}
.mainPage .mainSubPage .bankArea .new .type .switch .bar{
    position: absolute;
    top: 10px;
    height: 10px;
    width: 40px;
    left: 5px;
    background-color: rgba(100,100,100,0.5);
    border-radius: 10px;
}
.mainPage .mainSubPage .bankArea .new .type .switch .ballDeb{
    position: absolute;
    left: 5px;
    top: 6px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background-color: rgba(0,51,128,1);
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .type .switch .ballCred{
    position: absolute;
    left: 30px;
    top: 6px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background-color: rgba(0,51,128,1);
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .add{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 120px;
    color: #ccc;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0,51,128,0.2);
    border: none;
    border-left: 1px solid rgba(0,51,128,1);
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .new .add:hover{
    background-color: rgba(0,51,128,0.5);
}
.mainPage .mainSubPage .bankArea .book{
    position: absolute;
    left: 50px;
    top: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 60px);
    background-color: rgba(0,7,14,0.5);
    border-radius: 5px;
    overflow: hidden;
    z-index: 9991;
}
.mainPage .mainSubPage .bankArea .book .header{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0,7,14,0.7);
}
.mainPage .mainSubPage .bankArea .book .header .one{
    width: 5%;
}
.mainPage .mainSubPage .bankArea .book .header .two{
    width: 20%;
}
.mainPage .mainSubPage .bankArea .book .header .three{
    width: 35%;
}
.mainPage .mainSubPage .bankArea .book .header .headerList{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
.mainPage .mainSubPage .bankArea .book .header .headerList .cont{
    position: relative;
    left: 0;
    height: 100%;
    top: 0;
    cursor: default;
    border-right: 1px solid rgba(100,100,100,1);
    text-align: center;
}
.mainPage .mainSubPage .bankArea .book .header .headerList .cont .txt{
    position: relative;
    top: 3px;
    font-size: 20px;
    color: #ccc;
    font-family: Calibri, sans-serif;
    font-weight: bold;
}
.mainPage .mainSubPage .bankArea .book .searchPop.ng-hide{
    height: 0;
    opacity: 0;
}
.mainPage .mainSubPage .bankArea .book .searchPop.ng-hide-add,
.mainPage .mainSubPage .bankArea .book .searchPop.ng-hide-remove{
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .searchPop{
    position: absolute;
    z-index: 9991;
    top: 30px;
    left: 0;
    height: 35px;
    width: 100%;
    border-top: 1px solid rgba(0,128,255,0.5);
    border-bottom: 1px solid rgba(0,128,255,0.5);
    background-color: #002244;
    overflow: hidden;
    opacity: 1;
}
.mainPage .mainSubPage .bankArea .book .searchPop .close{
    position: absolute;
    right: 10px;
    top: 4px;
    height: fit-content;
    width: 30px;
    text-align: left;
}
.mainPage .mainSubPage .bankArea .book .searchPop .close .txt{
    position: relative;
    cursor: pointer;
    transition: all 0.25s linear;
    color: #aaa;
    border-bottom: 1px solid rgba(255,255,0,0);
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.mainPage .mainSubPage .bankArea .book .searchPop .close .txt:hover{
    border-bottom: 1px solid rgba(255,255,0,1);
    color: #fff;
}
.mainPage .mainSubPage .bankArea .book .searchPop .bankSearchyInput{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 110px);
    padding: 0 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: rgba(255,255,255,1);
    letter-spacing: 1px;
}
.mainPage .mainSubPage .bankArea .book .entries{
    position: absolute;
    left: 0;
    top: 30px;
    width: calc(100% + 17px);
    height: calc(100% - 60px);
    overflow-y: scroll;
}
.mainPage .mainSubPage .bankArea .book .entries .emptyBook{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.mainPage .mainSubPage .bankArea .book .entries .emptyBook .txt{
    position: relative;
    cursor: default;
    color: rgba(100,100,100,1);
    font-family: Calibri, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.mainPage .mainSubPage .bankArea .book .entries .list{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,7,14,0.3);
}
.mainPage .mainSubPage .bankArea .book .entries .list .contSub{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-top: 1px solid rgba(0,128,255,0.5);
    border-bottom: 1px solid rgba(0,128,255,0.5);
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .main,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .main{
    position: relative;
    height: 100%;
    text-align: center;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .one,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .one{
    width: 5%;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .two,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .two{
    width: 20%;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .three,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .three{
    width: 35%;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .main .icon,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .main .icon{
    fill: rgba(0,51,128,1);
    position: relative;
    top: 4px;
    cursor: pointer;
    outline: none;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .main .icon:hover,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .main .icon:hover{
    fill: rgba(255,255,0,1);
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont .main .txt,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt .main .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    color: rgba(140,140,140,1);
    top: 7px;
    cursor: default;
}
.mainPage .mainSubPage .bankArea .book .entries .list .cont:hover > .main .txt,
.mainPage .mainSubPage .bankArea .book .entries .list .contAlt:hover > .main .txt{
    color: rgba(255,255,0,1);
}



.mainPage .mainSubPage .bankArea .book .entries .openBal{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(0,7,14,0.5);
    border-top: 1px solid rgba(0,128,255,0.5);
    border-bottom: 1px solid rgba(0,128,255,0.5);
}
.mainPage .mainSubPage .bankArea .book .entries .openBal .descr{
    position: absolute;
    left: 25%;
    width: 35%;
    text-align: center;
    cursor: default;
}
.mainPage .mainSubPage .bankArea .book .entries .openBal .val{
    position: absolute;
    left: 60%;
    width: 40%;
    text-align: center;
    cursor: default;
}
.mainPage .mainSubPage .bankArea .book .entries .openBal .descr .txt,
.mainPage .mainSubPage .bankArea .book .entries .openBal .val .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(100,100,100,1);
    top: 5px;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop.ng-hide{
    width: 0;
    opacity: 0;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop.ng-hide-add,
.mainPage .mainSubPage .bankArea .book .entryDetsPop.ng-hide-remove{
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: calc(100% - 62px);
    background-color: rgba(0,7,14,1);
    border-top: 1px solid rgba(0,128,255,0.5);
    border-bottom: 1px solid rgba(0,128,255,0.5);
    opacity: 1;
    z-index: 9992;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .close{
    position: absolute;
    right: 20px;
    top: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    outline: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .close:hover > .txt{
    border-bottom: 1px solid rgba(0,128,255,1);
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .close .txt{
    color: rgba(130,130,130,1);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,128,255,0);
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head{
    position: absolute;
    width: 100%;
    height: fit-content;
    text-align: left;
    top: 10px;
    border: none;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .txt{
    position: relative;
    color: rgba(0,128,255,0.5);
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 30px;
    cursor: default;
    left: 20px;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .icon{
    position: absolute;
    fill: rgba(100,100,100,1);
    transition: all 0.25s linear;
    outline: none;
    cursor: pointer;
    top: 10px;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .edit{
    left: calc(20% + 10px);
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .delete{
    left: calc(20% + 40px);
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .edit:hover{
    fill: rgba(255,255,0,1);
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .delete:hover{
    fill: rgba(255,0,0,1);
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .smlPop{
    position: absolute;
    top: 20px;
    border: 1px solid rgba(0,128,255,0.5);
    border-radius: 3px;
    background-color: rgba(0,7,14,1);
    z-index: 9992;
    padding: 2px 5px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .editSmlPop{
    left: calc(20% + 40px);
    display: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .deleteSmlPop{
    left: calc(20% + 70px);
    display: none;
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .smlPop .txt{
    position: relative;
    color: rgba(100,100,100,1);
    font-family: Calibri, sans-serif;
    font-size: 15px;
    cursor: default;
    left: 0;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .edit:hover + .editSmlPop{
    display: inline-block;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .head .delete:hover + .deleteSmlPop{
    display: inline-block;
}



.mainPage .mainSubPage .bankArea .book .entryDetsPop .body{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    overflow-y: auto;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .body .sec{
    position: relative;
    top: 25px;
    left: 20px;
    width: calc(100% - 40px);
    height: 30px;
    margin-bottom: 5px;
    text-align: left;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .body .sec .title{
    position: absolute;
    color: rgba(255,255,255,1);
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
    margin-left: 0;
    left: 0;
    text-align: left;
    width: fit-content;
    border: none;
}
.mainPage .mainSubPage .bankArea .book .entryDetsPop .body .sec .data{
    position: relative;
    color: rgba(150,150,150,1);
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: default;
    left: 20%;
    top: 3px;
    width: fit-content;
}











.mainPage .mainSubPage .bankArea .book .foot{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0,7,14,0.8);
}
.mainPage .mainSubPage .bankArea .book .foot .icon{
    position: absolute;
    cursor: pointer;
    outline: none;
    transition: all 0.25s linear;
    top: 2px;

}
.mainPage .mainSubPage .bankArea .book .foot .sort{
    fill: rgba(242,51,0,1);
    left: 10px;
}
.mainPage .mainSubPage .bankArea .book .foot .recalc{
    fill: rgba(242,51,0,1);
    left: 45px;
}
.mainPage .mainSubPage .bankArea .book .foot .refresh{
    fill: rgba(242,51,0,1);
    left: 80px;
}
.mainPage .mainSubPage .bankArea .book .foot .search{
    fill: rgba(242,51,0,1);
    left: 115px;
}
.mainPage .mainSubPage .bankArea .book .foot .export{
    fill: rgba(242,51,0,1);
    left: 150px;
}
.mainPage .mainSubPage .bankArea .book .foot .sort:hover + .sortPopSml{
    display: inline-block;
}
.mainPage .mainSubPage .bankArea .book .foot .recalc:hover + .calcPop{
    display: inline-block;
}
.mainPage .mainSubPage .bankArea .book .foot .refresh:hover + .refreshPop{
    display: inline-block;
}
.mainPage .mainSubPage .bankArea .book .foot .search:hover + .searchPopSml{
    display: inline-block;
}
.mainPage .mainSubPage .bankArea .book .foot .export:hover + .exportPopSml{
    display: inline-block;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPopSml,
.mainPage .mainSubPage .bankArea .book .foot .calcPop,
.mainPage .mainSubPage .bankArea .book .foot .refreshPop,
.mainPage .mainSubPage .bankArea .book .foot .searchPopSml,
.mainPage .mainSubPage .bankArea .book .foot .exportPopSml{
    position: absolute;
    display: none;
    transition: all 0.25s linear;
    bottom: 100%;
    width: fit-content;
    padding: 2px 5px;
    background-color: rgba(0,7,14,1);
    border: 1px solid rgba(0,128,255,0.2);
    border-radius: 5px 5px 5px 0;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPopSml{
    left: 0;
}
.mainPage .mainSubPage .bankArea .book .foot .calcPop{
    left: 45px;
}
.mainPage .mainSubPage .bankArea .book .foot .refreshPop{
    left: 80px;
}
.mainPage .mainSubPage .bankArea .book .foot .searchPopSml{
    left: 115px;
}
.mainPage .mainSubPage .bankArea .book .foot .exportPopSml{
    left: 150px;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPopSml .txt,
.mainPage .mainSubPage .bankArea .book .foot .calcPop .txt,
.mainPage .mainSubPage .bankArea .book .foot .refreshPop .txt,
.mainPage .mainSubPage .bankArea .book .foot .searchPopSml .txt,
.mainPage .mainSubPage .bankArea .book .foot .exportPopSml .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: rgba(155,155,155,1);
    cursor: default;
}
.mainPage .mainSubPage .bankArea .book .foot .sort:hover,
.mainPage .mainSubPage .bankArea .book .foot .recalc:hover,
.mainPage .mainSubPage .bankArea .book .foot .refresh:hover,
.mainPage .mainSubPage .bankArea .book .foot .search:hover,
.mainPage .mainSubPage .bankArea .book .foot .export:hover{
    fill: rgba(255,255,0,1);
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop.ng-hide{
    opacity: 0;
    height: 0;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop.ng-hide-add,
.mainPage .mainSubPage .bankArea .book .foot .sortPop.ng-hide-remove{
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 300px;
    height: 140px;
    background-color: rgba(0,7,14,0.9);
    border: 1px solid rgba(0,128,255,0.4);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.25s linear;
    opacity: 1;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop .head{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    text-align: center;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop .head .txt{
    position: relative;
    color: rgba(255,255,255,0.5);
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop .opt{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    text-align: left;
    margin-top: 2px;
    transition: all 0.25s linear;
    cursor: pointer;
    outline: none;
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop .opt:hover{
    background-color: rgba(0,51,128,0.3);
}
.mainPage .mainSubPage .bankArea .book .foot .sortPop .opt .txt{
    position: relative;
    color: rgba(255,255,255,0.5);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    left: 10px;
}








.mainPage .mainSubPage .bankArea .book .foot .exportPop.ng-hide{
    opacity: 0;
    height: 0;
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop.ng-hide-add,
.mainPage .mainSubPage .bankArea .book .foot .exportPop.ng-hide-remove{
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop{
    position: absolute;
    left: 150px;
    bottom: 30px;
    width: 150px;
    height: 70px;
    background-color: rgba(0,7,14,0.9);
    border: 1px solid rgba(0,128,255,0.4);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.25s linear;
    opacity: 1;
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop .head{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    text-align: center;
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop .head .txt{
    position: relative;
    color: rgba(255,255,255,0.5);
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop .opt{
    position: relative;
    top: 7px;
    left: 0;
    width: 100%;
    height: 25px;
    text-align: left;
    margin-top: 2px;
    transition: all 0.25s linear;
    cursor: pointer;
    outline: none;
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop .opt:hover{
    background-color: rgba(0,51,128,0.3);
}
.mainPage .mainSubPage .bankArea .book .foot .exportPop .opt .txt{
    position: relative;
    color: rgba(255,255,255,0.5);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    left: 10px;
}




















.mainPage .mainSubPage .bankArea .book .foot .ttl{
    position: absolute;
    left: 40%;
    width: 40%;
    border-right: 1px solid rgba(100,100,100,1);
    height: 100%;
    text-align: right;
}
.mainPage .mainSubPage .bankArea .book .foot .ttl .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: default;
    top: 3px;
    margin-right: 10px;
}
.mainPage .mainSubPage .bankArea .book .foot .tot{
    position: absolute;
    left: 80%;
    width: 20%;
    border-right: 1px solid rgba(100,100,100,1);
    height: 100%;
    text-align: center;
}
.mainPage .mainSubPage .bankArea .book .foot .tot .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: default;
    top: 3px;
    margin-right: 10px;
}






/************************************************************* TimeFrame **************************************************/
.tFrameOver.ng-enter{
    opacity: 0;
    transition: all 0.3s ease-in;
    top: -100vh;
}
.tFrameOver.ng-enter-active{
    opacity: 1;
    transition: all 0.3s ease-in;
    top: 0;
}
.tFrameOver.ng-leave{
    opacity: 1;
    transition: all 0.3s ease-in;
    top: 0;
}
.tFrameOver.ng-leave-active{
    opacity: 0;
    transition: all 0.3s ease-in;
    top: -100vh;
}
.tFrameOver{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0,7,14,0.7);
    border-radius: 0;
    opacity: 1;
    transition: all 0.3s ease-in;
    z-index: 9994;
}
.tFrame.ng-enter{
    opacity: 0;
    transition: all 0.3s ease-in;
    top: -150px;
}
.tFrame.ng-enter-active{
    opacity: 1;
    transition: all 0.3s ease-in;
    top: 150px;
}
.tFrame.ng-leave{
    opacity: 1;
    transition: all 0.3s ease-in;
    top: 150px;
}
.tFrame.ng-leave-active{
    opacity: 0;
    transition: all 0.3s ease-in;
    top: -150px;
}
.tFrame{
    position: absolute;
    top: 150px;
    height: 300px;
    width: 500px;
    left: calc(50vw - 250px);
    background-color: rgba(0,9,15,0.7);
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease-in;
    font-family: Segoe UI, sans-serif;
    z-index: 9995;
}
.tFrame .head{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: rgba(0,30,43,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tFrame .head .txt{
    position: absolute;
    left: 10px;
    top: 2px;
    color: #fff;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
}
.tFrame .head .close{
    position: absolute;
    right: 10px;
    top: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.25s linear;
    outline: none;
}
.tFrame .head .close:hover{
    color: rgba(0,128,255,1);
}
.tFrame .content{
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    height: calc(100% - 28px);
}
.tFrame .content .startDate{
    position: relative;
    left: 10px;
    margin-top: 10px;
    width: calc(50% - 15px);
    height: 30px;
    /*border: 1px solid rgba(100,100,100,0.5);
    -webkit-box-shadow: 0 2px 3px 1px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0 2px 3px 1px rgba(100, 100, 100, 0.5);
    box-shadow: 0 2px 3px 1px rgba(100, 100, 100, 0.5);*/
    border-radius: 3px;
    transition: all 0.25s linear;
    cursor: pointer;
    outline: none;
}
.tFrame .content .startDate .selectInd{
    position: absolute;
    left: 10px;
    top: 9px;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(100,100,100,0.5);
    border-radius: 10px;
    transition: all 0.25s linear;
}
.tFrame .content .startDate .selectIndAct{
    position: absolute;
    left: 10px;
    top: 9px;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0,51,128,0.5);
    border-radius: 10px;
    background-color: rgba(0,51,128,1);
    transition: all 0.25s linear;
}
.tFrame .content .startDate:hover > .dateID{
    /*border: 1px solid rgba(0,51,128,1);*/
    color: rgba(0,128,255,1);
}
.tFrame .content .startDate .dateID{
    position: absolute;
    left: 25px;
    top: 7px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    transition: all 0.25s linear;
}
.tFrame .content .startDate .selectedDate{
    position: absolute;
    top: 7px;
    left: 100px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(150,150,150,1);
}
.tFrame .content .dateErrorMsg{
    position: absolute;
    top: 100px;
    color: rgba(255,0,0,1);
    font-size: 10px;
    left: 5px;
    font-weight: bold;
    cursor: default;
}
.tFrame .content .actions{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(50% - 15px);
}
.tFrame .content .actions .btn{
    position: relative;
    margin-left: 10px;
    height: 20px;
    width: 70px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: Segoe UI, sans-serif;
    border: 1px solid rgba(0,51,128,1);
    border-radius: 3px;
    background-color: rgba(0,51,128,1);
    transition: all 0.25s linear;
    cursor: pointer;
    text-align: center;
    padding: 4px 0 0 0;
    outline: none;
}
.tFrame .content .actions .btn:hover{
    background-color: rgba(0,51,128,0.5);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 51, 128, 0.5);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 51, 128, 0.5);
    box-shadow: 0 0 10px 5px rgba(0, 51, 128, 0.5);
}
.tFrame .content .actions .btnDis{
    position: relative;
    margin-left: 10px;
    height: 20px;
    width: 70px;
    color: rgba(100,100,100,0.5);
    font-size: 12px;
    font-weight: bold;
    font-family: Segoe UI, sans-serif;
    border: 1px solid rgba(0,51,128,1);
    border-radius: 3px;
    background-color: rgba(0,51,128,0);
    transition: all 0.25s linear;
    cursor: pointer;
    text-align: center;
    padding: 4px 0 0 0;
    outline: none;
}
.tFrame .content .actions .btnDis:hover{
    background-color: rgba(0,51,128,0);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 51, 128, 0);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 51, 128, 0);
    box-shadow: 0 0 10px 5px rgba(0, 51, 128, 0);
}
.tFrame .foot{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(0,30,43,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/************************************************************* Datepicker **************************************************/
.tFrame .content .calender{
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(50% - 15px);
    height: calc(100% - 20px);
    /*border: 1px solid rgba(100,100,100,0.5);*/
    border-radius: 3px;
    transition: all 0.25s linear;
}
.tFrame .content .calender .calHead{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
}
.tFrame .content .calender .calHead .monthLeft, .tFrame .content .calender .calHead .monthRight{
    position: absolute;
    fill: rgba(150,150,150,1);
    transition: all 0.25s linear;
    cursor: pointer;
    width: 20px;
    height: 100%;
}
.tFrame .content .calender .calHead .monthLeft:hover, .tFrame .content .calender .calHead .monthRight:hover{
    fill: rgba(0,128,255,1);
}
.tFrame .content .calender .calHead .monthLeft{
    left: 5px;
    outline: none;
}
.tFrame .content .calender .calHead .monthRight{
    right: 5px;
    outline: none;
}
.tFrame .content .calender .calHead .monthShow{
    position: absolute;
    left: 25px;
    top: 3px;
    width: calc(100% - 50px);
    height: 100%;
    text-align: center;
    font-size: 12px;
    color: rgba(200,200,200,1);
    font-family: Segoe UI, sans-serif;
    cursor: default;
}
.tFrame .content .calender .dayLet{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 25px;
}
.tFrame .content .calender .dayLet .dayList{
    position: relative;
    text-align: center;
    width: calc(100% / 7);
    cursor: default;
}
.tFrame .content .calender .dayLet .dayList:hover{
    background-color: transparent;
}
.tFrame .content .calender .dayLet .dayList .listItem{
    position: relative;
    color: rgba(150,150,150,1);
    font-size: 12px;
    cursor: default;
}
.tFrame .content .calender .monthDaysOne{
    position: absolute;
    top: 60px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #fff;
}
.tFrame .content .calender .monthDaysTwo{
    position: absolute;
    top: 90px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #fff;
}
.tFrame .content .calender .monthDaysThree{
    position: absolute;
    top: 120px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #fff;
}
.tFrame .content .calender .monthDaysFour{
    position: absolute;
    top: 150px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #fff;
}
.tFrame .content .calender .monthDaysFive{
    position: absolute;
    top: 180px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #fff;
}
.tFrame .content .calender .monthDaysSix{
    position: absolute;
    top: 210px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #fff;
}
.tFrame .content .calender .monthDaysOne .dayList, .tFrame .content .calender .monthDaysTwo .dayList, .tFrame .content .calender .monthDaysThree .dayList, .tFrame .content .calender .monthDaysFour .dayList, .tFrame .content .calender .monthDaysFive .dayList, .tFrame .content .calender .monthDaysSix .dayList{
    position: relative;
    width: calc((100% / 7) - 2px);
    margin-left: 1px;
    margin-right: 1px;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    border: none;
    transition: all 0.25s linear;
    cursor: pointer;
    outline: none;
}
.tFrame .content .calender .monthDaysOne .dayList .dayNum, .tFrame .content .calender .monthDaysTwo .dayList .dayNum, .tFrame .content .calender .monthDaysThree .dayList .dayNum, .tFrame .content .calender .monthDaysFour .dayList .dayNum, .tFrame .content .calender .monthDaysFive .dayList .dayNum, .tFrame .content .calender .monthDaysSix .dayList .dayNum{
    position: relative;
    top: 2px;
    padding: 10px 0;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    outline: none;
}
.tFrame .content .calender .monthDaysOne .dayList:hover, .tFrame .content .calender .monthDaysTwo .dayList:hover, .tFrame .content .calender .monthDaysThree .dayList:hover, .tFrame .content .calender .monthDaysFour .dayList:hover, .tFrame .content .calender .monthDaysFive .dayList:hover, .tFrame .content .calender .dayList:hover{
    background-color: rgba(0,51,128,1);
}

