/******************************************************************************************
*** Employees ***
******************************************************************************************/
/***************************************************************************************************************/
.mainPage .mainSubPage .userArea{
    position: relative;
    width: calc(100vw - 100px);
    height: calc(100vh - 70px);
    margin: auto;
    top: 10px;
}
/************************************************************* Head Bar **************************************************/
.mainPage .mainSubPage .userArea .head{
    position: relative;
    width: 100%;
    height: 30px;
    overflow: visible;
    padding: 5px 5px 0 5px;
}
.mainPage .mainSubPage .userArea .head .cont{
    position: relative;
    height: 100%;
    overflow: visible;
    outline: none;
}
.mainPage .mainSubPage .userArea .head .edge{
    width: 200px;
}
.mainPage .mainSubPage .userArea .head .mid{
    width: calc(100% - 400px);
}
.mainPage .mainSubPage .userArea .head .cont .block{
    position: relative;
    margin: auto;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0,7,14,0.8);
    width: 200px;
    outline: none;
    cursor: pointer;
    transition: all 0.25s linear;
    padding: 3px;
    text-align: center;
}
.mainPage .mainSubPage .userArea .head .cont .block:hover{
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 51, 153, 0.5);
    -moz-box-shadow: 0 0 6px 2px rgba(0, 51, 153, 0.5);
    box-shadow: 0 0 6px 2px rgba(0, 51, 153, 0.5);
}
/***** Switch *****/
.mainPage .mainSubPage .userArea .head .cont .block .dispSw{
    position: relative;
    margin: auto;
    height: fit-content;
    width: fit-content;
    top: 2px;
}
.mainPage .mainSubPage .userArea .head .cont .block .dispSw .txtDis{
    position: relative;
    font-family: Segoe UI, sans-serif;
    color: rgba(0,82,153,0.4);
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s linear;
    margin: auto;
}
.mainPage .mainSubPage .userArea .head .cont .block .dispSw .txt{
    position: relative;
    font-family: Segoe UI, sans-serif;
    color: rgba(0,102,204,1);
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s linear;
    margin: auto;
}
.mainPage .mainSubPage .userArea .head .cont .block .dispSw .switch{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.mainPage .mainSubPage .userArea .head .cont .block .dispSw .switch .bar{
    position: relative;
    margin: auto;
    background-color: rgba(0,82,153,0.3);
    width: 30px;
    height: 7px;
    border-radius: 10px;
    top: 7px;
}
.mainPage .mainSubPage .userArea .head .cont .block .dispSw .switch .dot{
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    left: 0;
    top: 5px;
    background: linear-gradient(90deg, rgba(0,102,204,1), rgba(0,82,153,0.7));
    transition: all 0.15s linear;
}
.mainPage .mainSubPage .userArea .head .cont .block .dispSw .switch .dotTwo{
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    left: calc(100% - 11px);
    top: 5px;
    background: linear-gradient(90deg, rgba(0,82,153,0.7), rgba(0,102,204,1));
    transition: all 0.15s linear;
}
/***** Shop *****/
.mainPage .mainSubPage .userArea .head .cont .block .headDrop.ng-hide{
    height: 0;
    opacity: 0;
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop.ng-hide-add,
.mainPage .mainSubPage .userArea .head .cont .block .headDrop.ng-hide-remove{
    transition: all 0.2s linear;
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop{
    position: absolute;
    left: 13px;
    width: calc(100% - 28px);
    top: 100%;
    height: 165px;
    overflow: hidden;
    background: rgba(0,7,14,0.95);
    border: 1px solid rgba(0,82,153,0.5);
    opacity: 1;
    z-index: 9994;
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop .list{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop .list .item{
    position: relative;
    margin-top: 3px;
    width: 100%;
    height: 20px;
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop .list .item .cont{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    text-align: left;
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop .list .item .cont:hover{
    background-color: rgba(0,82,153,0.2);
}
.mainPage .mainSubPage .userArea .head .cont .block .headDrop .list .item .cont .txt{
    position: relative;
    margin: auto;
    left: 15px;
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,82,153,1);
}
/***** Date *****/
.mainPage .mainSubPage .userArea .head .cont .block .dateTxt{
    position: relative;
    top: 2px;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0,82,153,1);
}

/***** Tooltips *****/
.mainPage .mainSubPage .userArea .head .cont .block:hover > .empHeadTipPop{
    display: inline-block;
}
.mainPage .mainSubPage .empHeadTipPop{
    position: absolute;
    display: none;
    transition: all 0.25s linear;
    top: 120%;
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    background-color: rgba(0,7,14,1);
    border: 1px solid rgba(0,128,255,0.2);
    border-radius: 5px 0 5px 5px;
    white-space: nowrap;
}
.mainPage .mainSubPage .empHeadTipPop{
    left: 0;
}
.mainPage .mainSubPage .empHeadTipPop .txt{
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 13px;
    color: rgba(155,155,155,1);
    cursor: default;
}
/************************************************************* List Block **************************************************/
.mainPage .mainSubPage .userArea .listBlock{
    position: relative;
    left: 0;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0,7,14,0.5);
}


































/************************************************************* Month Picker **************************************************/
.mainPage .mainSubPage .empMonthOver.ng-hide{
    opacity: 0;
}
.mainPage .mainSubPage .empMonthOver.ng-hide-add,
.mainPage .mainSubPage .empMonthOver.ng-hide-remove{
    transition: all 0.2s linear;
}
.mainPage .mainSubPage .empMonthOver{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,7,14,0.9);
    opacity: 1;
}
.mainPage .mainSubPage .empMonthOver .contain.ng-enter{
    width: 10px;
    height: 10px;
    left: 95%;
    top: 5%;
    opacity: 0;
}
.mainPage .mainSubPage .empMonthOver .contain.ng-enter-active{
    width: 400px;
    height: 200px;
    left: 0;
    top: 15%;
    opacity: 1;
}
.mainPage .mainSubPage .empMonthOver .contain.ng-leave{
    width: 400px;
    height: 200px;
    left: 0;
    top: 15%;
    opacity: 1;
}
.mainPage .mainSubPage .empMonthOver .contain.ng-leave-active{
    width: 10px;
    height: 10px;
    left: 95%;
    top: 5%;
    opacity: 0;
}
.mainPage .mainSubPage .empMonthOver .contain{
    position: relative;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: rgba(0,7,14,0.8);
    border: 1px solid rgba(0,82,153,1);
    border-radius: 3px;
    transition: all 0.35s linear;
    opacity: 1;
    top: 15%;
}
.mainPage .mainSubPage .empMonthOver .contain .disp{
    position: relative;
    margin: auto;
    height: 25px;
    width: 100%;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back{
    position: relative;
    height: 100%;
    width: 120px;
    background-color: rgba(0,82,153,0.5);
    border-radius: 3px;
    margin: auto;
    outline: none;
    cursor: pointer;
    transition: all 0.25s linear;
    border: 1px solid rgba(0,82,153,0.5);
    text-align: center;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back:hover{
    background-color: rgba(0,82,153,0.2);
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .txt{
    position: relative;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    top: 2px;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop.ng-hide{
    height: 0;
    opacity: 0;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop.ng-hide-add,
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop.ng-hide-remove{
    transition: all 0.25s linear;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop{
    position: absolute;
    left: 2px;
    width: calc(100% - 6px);
    height: 100px;
    opacity: 1;
    overflow: hidden;
    border: 1px solid rgba(0,82,153,0.3);
    top: 100%;
    background-color: rgba(0,7,14,1);
    z-index: 9993;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop .cont{
    position: relative;
    left: 0;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    width: calc(100% + 20px);
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop .cont .list{
    position: relative;
    margin-top: 2px;
    cursor: pointer;
    width: 100%;
    height: 23px;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop .cont .list .item{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    transition: all 0.25s linear;
    text-align: left;
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop .cont .list .item:hover{
    background-color: rgba(0,82,153,0.2);
}
.mainPage .mainSubPage .empMonthOver .contain .disp .back .drop .cont .list .item .txt{
    position: relative;
    font-family: Segoe UI, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0,82,153,1);
    margin: auto;
    left: 10px;
}









.mainPage .mainSubPage .empMonthOver .contain .action{
    position: relative;
    margin: auto;
    width: 80%;
}
.mainPage .mainSubPage .empMonthOver .contain .action .act{
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 2px 10px;
    background-color: rgba(0,82,153,0);
    border-radius: 3px;
    margin: auto;
    outline: none;
    border: 1px solid rgba(0,82,153,0.7);
    transition: all 0.25s linear;
    font-family: Segoe UI, sans-serif;
    font-size: 15px;
    color: #fff;
}
.mainPage .mainSubPage .empMonthOver .contain .action .act:hover{
    background-color: rgba(0,82,153,0.3);
}






